{
  "$schema": "https://opencode.ai/tui.json",
  "theme": "dracula",
  "plugin_enabled": {
    "internal:sidebar-context": false,
    "internal:sidebar-lsp": false
  },
  "plugin": [
    ["file://{{ .chezmoi.homeDir }}/.config/opencode/plugins/opencode-go-usage-sidebar/tui.tsx", { "refreshMs": 30000 }],
    ["opencode-plugin-codex-usage", { "refreshMs": 30000 }]
  ]
}
