# editorconfig.org
root = true

[*]
indent_size = 2
indent_style = space
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.md]
indent_size = unset
trim_trailing_whitespace = false

[{Makefile,**.mk}]
# Use tabs for indentation (Makefiles require tabs)
indent_style = tab

[dot_config/private_karabiner/private_karabiner.json]
indent_size = 4
insert_final_newline = false
indent_style = space

[dot_config/mpv/scripts/dark-box.lua]
insert_final_newline = false

[dot_config/stew/stew.config.json.tmpl]
insert_final_newline = false
indent_style = tab
