[user]
  name = Mayurifag
  email = Mayurifag@users.noreply.github.com
  signingKey = 871672CCF33EDE72
[alias]
  co = checkout
  st = status
  lg = log --pretty=format:'%Cred%h%Creset%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)%an%Creset' --abbrev-commit
  # https://stackoverflow.com/a/48999882/8303979
  amend-to = "!f() { SHA=`git rev-parse \"$1\"`; git stash -k && git commit --fixup \"$SHA\" && GIT_SEQUENCE_EDITOR=true git rebase --interactive --autosquash \"$SHA^\" && git stash pop; }; f"
  recent = branch --sort=-committerdate --format=\"%(committerdate:relative)%09%(refname:short)\"
[core]
  autocrlf = false
  editor = vim
  attributesfile = ~/.gitattributes
  excludesfile = ~/.gitignore_global
{{- if eq .chezmoi.os "windows" }}
  sshCommand = C:/Windows/System32/OpenSSH/ssh.exe
{{- end }}
[credential]
{{- if eq .chezmoi.os "windows" }}
  helper = manager
{{- else }}
  helper = cache --timeout=3600
{{- end }}
[color]
  ui = auto
[merge]
  conflictstyle = diff3
[diff "rspec"]
  xfuncname = "^[ \t]*((RSpec|describe|context|it|before|after|around|feature|scenario)[ \t].*)$"
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[gui]
  pruneDuringFetch = true
[ssh]
  variant = ssh
[init]
  defaultBranch = main
[rebase]
  autoStash = true
[pull]
  rebase = true
[commit]
  gpgsign = true
[rerere]
  enabled = true
[maintenance]
  auto = true
[fetch]
  writeCommitGraph = true
[diff]
  algorithm = histogram
  colorMoved = default
{{- if eq .chezmoi.os "windows" }}
[gpg]
  program = C:/Program Files/GnuPG/bin/gpg.exe
{{- end }}
