approval_policy = "never"
sandbox_mode = "danger-full-access"
allow_login_shell = false
model_reasoning_effort = "xhigh"

[features]
apps = false
shell_snapshot = false

{{- if eq .chezmoi.os "windows" }}
[projects."C:\\Users\\Administrator"]
trust_level = "trusted"

[windows]
sandbox = "unelevated"

{{- else if or (eq .chezmoi.os "linux") (eq .chezmoi.os "darwin") }}
[projects."{{ .chezmoi.homeDir }}/Code"]
trust_level = "trusted"

[projects."{{ .chezmoi.sourceDir }}"]
trust_level = "trusted"

{{- end }}

[tui]
theme = "dracula"

[tui.model_availability_nux]
"gpt-5.5" = 2
