{{ if eq .chezmoi.os "darwin" -}}
Include ~/.orbstack/ssh/config
{{- end }}

# Read more about SSH config files: https://linux.die.net/man/5/ssh_config

Host gitlab.com
  UpdateHostKeys no
Host {{ (joinPath .chezmoi.sourceDir "keys.ejson" | ejsonDecrypt).host_one }}
  HostName {{ (joinPath .chezmoi.sourceDir "keys.ejson" | ejsonDecrypt).host_one_hostname }}
  User {{ (joinPath .chezmoi.sourceDir "keys.ejson" | ejsonDecrypt).ssh_user }}
Host {{ (joinPath .chezmoi.sourceDir "keys.ejson" | ejsonDecrypt).host_two }}
  HostName {{ (joinPath .chezmoi.sourceDir "keys.ejson" | ejsonDecrypt).host_two_hostname }}
  User {{ (joinPath .chezmoi.sourceDir "keys.ejson" | ejsonDecrypt).ssh_user }}
  Port {{ (joinPath .chezmoi.sourceDir "keys.ejson" | ejsonDecrypt).host_two_port }}
  RequestTTY yes
  RemoteCommand tmux attach -d || tmux new-session -s main
Host {{ (joinPath .chezmoi.sourceDir "keys.ejson" | ejsonDecrypt).host_three }}
  HostName {{ (joinPath .chezmoi.sourceDir "keys.ejson" | ejsonDecrypt).host_three_hostname }}
  User {{ (joinPath .chezmoi.sourceDir "keys.ejson" | ejsonDecrypt).ssh_user }}

Host *
  StrictHostKeyChecking ask
  UpdateHostKeys ask
  Protocol 2
  ServerAliveInterval 120
  ServerAliveCountMax 2
