{{ if eq .chezmoi.os "darwin" -}}
Include ~/.orbstack/ssh/config
{{- end }}

# Read more about SSH config files: https://linux.die.net/man/5/ssh_config

Host {{ (joinPath .chezmoi.sourceDir "keys.ejson" | ejsonDecrypt).host_one }}
  HostName {{ (joinPath .chezmoi.sourceDir "keys.ejson" | ejsonDecrypt).host_one_hostname }}
  User {{ (joinPath .chezmoi.sourceDir "keys.ejson" | ejsonDecrypt).ssh_user }}
  Port {{ (joinPath .chezmoi.sourceDir "keys.ejson" | ejsonDecrypt).host_one_port }}
  #!! UdpMode KCP
  #!! TsshdPort {{ (joinPath .chezmoi.sourceDir "keys.ejson" | ejsonDecrypt).host_one_udp_port }}
Host {{ (joinPath .chezmoi.sourceDir "keys.ejson" | ejsonDecrypt).host_two }}
  HostName {{ (joinPath .chezmoi.sourceDir "keys.ejson" | ejsonDecrypt).host_two_hostname }}
  User {{ (joinPath .chezmoi.sourceDir "keys.ejson" | ejsonDecrypt).ssh_user }}
  Port {{ (joinPath .chezmoi.sourceDir "keys.ejson" | ejsonDecrypt).host_two_port }}
  #!! UdpMode KCP
  #!! TsshdPort {{ (joinPath .chezmoi.sourceDir "keys.ejson" | ejsonDecrypt).host_two_udp_port }}
Host *
  StrictHostKeyChecking ask
  UpdateHostKeys ask
  ServerAliveInterval 120
  ServerAliveCountMax 2
  TCPKeepAlive yes
{{- if ne .chezmoi.os "windows" }}
  ControlMaster auto
  ControlPersist 10m
{{- end }}
  # Compression yes
