{{- /* chezmoi:template:left-delimiter=[% right-delimiter=%] */ -}}
[tools]
node = "lts"
go = "latest"
python = "latest"
rust = "latest"
ruby = "latest"
usage = "latest"
uv = "latest"
bun = "latest"
chezmoi = "latest"
fzf = "latest"
lazygit = "latest"
starship = "latest"
"github:Mayurifag/yawn" = "latest"
[%- if eq .chezmoi.os "linux" %]
"github:Mayurifag/conditional-launcher" = "latest"
[%- end %]
