{
  "auths": {
    "https://index.docker.io/v1/": {
      "auth": "{{ (joinPath .chezmoi.sourceDir "keys.ejson" | ejsonDecrypt).docker_auth }}"
    }
  },
  "default-ulimits": {
    "nofile": {
      "Name": "nofile",
      "Soft": 1024,
      "Hard": 524288
    }
  }
}
